# pip install --upgrade pip
# pip install -r requirements.txt

setuptools
wheel

# Base data analysis
numpy
pandas
scipy
statsmodels

# Web scraping
bs4
lxml
requests

# SQL queries
pyodbc
sqlalchemy

# Excel file handling
odfpy
openpyxl
pyxlsb
xlrd
xlsxwriter

# Queueing & pipelining
joblib

# Templating
jinja2
pyyaml

# Text processing
unidecode
win-unicode-console

# Visualization
matplotlib
pillow
plotly
seaborn
supervenn

# Web interface
dash
jupyter
jupyterlab
jupyterlab-requirements

# ML-related
keras
scikit-learn
xgboost

# Biological data processing
biopython

# Archivers
mgzip
