# pip install --upgrade pip
# pip install -r requirements.txt

setuptools
wheel

# Base data analysis
numpy
pandas
statsmodels
scipy

# Web scraping
requests
bs4
lxml

# SQL queries
pyodbc
sqlalchemy

# Excel file handling
xlrd
openpyxl
odfpy
pyxlsb
xlsxwriter

# Queueing & pipelining
joblib

# Templating
jinja2
pyyaml

# Text processing
unidecode
win-unicode-console

# Visualization
matplotlib
pillow
plotly
seaborn

# Web interface
jupyterlab-requirements
jupyter
jupyterlab
dash

# ML-related
keras
scikit-learn
xgboost

# Biological data processing
biopython
