# pip install --upgrade pip
# pip install -r requirements.txt

setuptools
wheel

numpy
pandas
statsmodels
scipy
urllib3
bs4
lxml
requests
xlrd
biopython
scikit-bio  # Buggy at all!
jinja2
pyyaml
matplotlib
seaborn
ipython
jupyter
jupyterlab
joblib
scikit-learn
# tensorflow  # Weird dependencies sometimes
# tf-nightly  # Same
# torch  # Same
