
[client]
user=root
password="password"
port=3306
loose-local-infile=1

[mysql]
user=root
password="password"
local-infile

[mysqld]
user=root
port=3306
bind-address=*
local-infile
innodb_buffer_pool_size=40G

[mysqldump]
user=root
password="password"
quick
quote-names
max_allowed_packet=16M

[mysqldiff]
user=root
password="password"


# Do not forget to do `chown root:root my.cnf && chmod 600 my.cnf`
