# To run OrthoMCL you need to copy the config file located in
# /opt/conda/share/orthomcl/orthomcl.config.template to your working directory
# as orthomcl.config.
# e.g. cp /opt/conda/share/orthomcl/orthomcl.config.template location_to_your_working_dir/orthomcl.config
#
# this config assumes a mysql database named 'orthomcl'.  adjust according
# to your situation.
#
dbVendor=mysql
dbConnectString=dbi:mysql:orthomcl:3307
dbLogin=root
dbPassword=password
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
percentMatchCutoff=50
evalueExponentCutoff=-5
oracleIndexTblSpc=NONE
#